---
openapi: 3.0.3
info:
  title: Nightfall Workflow DLP API
  description: API to access and act on violations
  version: 1.0.0
servers:
  - url: https://api.nightfall.ai/dlp/v1
security:
  - bearerAuth: []
paths:
  "/violations":
    get:
      summary: Fetch violations
      description: Fetch a list of violations for a period
      parameters:
        - name: createdAfter
          in: query
          description: Unix timestamp in seconds, filters records created ≥ the value, defaults to -90 days UTC
          required: false
          schema:
            type: integer
        - name: createdBefore
          in: query
          description: Unix timestamp in seconds, filters records created < the value, defaults to end of the current day UTC
          required: false
          schema:
            type: integer
        - name: updatedAfter
          in: query
          description: Unix timestamp in seconds, filters records updated > the value
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: The maximum number of records to be returned in the response
          required: false
          schema:
            type: integer
            maximum: 100
            default: 50
        - name: pageToken
          in: query
          description: Cursor for getting the next page of results
          required: false
          schema:
            type: string
      responses:
        200:
          description: Successful response
          headers:
            X-Rate-Limit-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next second before being throttled
            X-Quota-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next quota period
            X-Quota-Period-End:
              schema:
                type: string
                format: date-time
                description: When the current quota period expires
          content:
            application/json:
              schema:
                type: object
                properties:
                  violations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Violation'
                  nextPageToken:
                    type: string
                    description: Next page cursor, omitted if end of results reached
        400:
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Authentication failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        429:
          description: Rate Limit Exceeded or Daily Quota Exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                description: Seconds after which to retry the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Nightfall Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  "/violations/{violationId}":
    get:
      summary: Fetch violation
      description: Fetch a violation by ID
      parameters:
        - name: violationId
          in: path
          description: The UUID of the violation to fetch
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Successful response
          headers:
            X-Rate-Limit-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next second before being throttled
            X-Quota-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next quota period
            X-Quota-Period-End:
              schema:
                type: string
                format: date-time
                description: When the current quota period expires
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Violation'
        400:
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Authentication failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        429:
          description: Rate Limit Exceeded or Daily Quota Exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                description: Seconds after which to retry the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Nightfall Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  "/violations/search":
    get:
      summary: Search violations
      description: Fetch a list of violations based on some filters
      parameters:
        - name: createdAfter
          in: query
          description: Unix timestamp in seconds, filters records created ≥ the value, defaults to -90 days UTC
          required: false
          schema:
            type: integer
        - name: createdBefore
          in: query
          description: Unix timestamp in seconds, filters records created < the value, defaults to end of the current day UTC
          required: false
          schema:
            type: integer
        - name: updatedAfter
          in: query
          description: Unix timestamp in seconds, filters records updated > the value
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: The maximum number of records to be returned in the response
          required: false
          schema:
            type: integer
            maximum: 100
            default: 50
        - name: pageToken
          in: query
          description: Cursor for getting the next page of results
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sort key and direction, defaults to descending order by creation time
          required: false
          schema:
            ref: '#/components/schemas/ViolationSearchSortKey'
            default: TIME_DESC
        - name: query
          in: query
          description: |
            The query containing filter clauses
            ### **Search query language**
            **Query structure and terminology**

            A query **`clause`** consists of a **`field`** followed by an **`operator`** followed by a **`value`**:

            | term | value |
            | --- | --- |
            | clause | userEmail:"amy@rocketrides.io" |
            | field | userEmail |
            | operator | : |
            | value | amy@rocketrides.io |

            You can combine multiple query clauses in a search by separating them with a space.

            **Field types, substring matching, and numeric comparators**

            Every search field supports exact matching with a **`:`**. Certain fields such as **`userEmail`** and **`username`** support substring matching.

            **Quotes**

            You may use quotation marks around string values. Quotation marks are required in case the value contains spaces. For example:

            - **`userEmail:john@example.com`**
            - **`username:"John Doe"`**

            **Special Characters**

            `+ - && || ! ( ) { } [ ] ^ " ~ * ? :` are special characters need to be escaped using `\`. For example:
            
            - a value like `(1+1):2` should be searched for using `\(1\+1)\:2`

            **Search Syntax**

            The following table lists the syntax that you can use to construct a query.

            | SYNTAX | USAGE | DESCRIPTION | EXAMPLES |
            | --- | --- | --- | --- |
            | `:` | field:value | Exact match operator (case insensitive) | `currency:"eur"` returns records where the currency is exactly `"EUR"` in a case-insensitive comparison |
            | ` ` (space) | field1:value1 field2:value2 | The query returns only records that match both clauses | `state:active slack.channelName:general` |
            | `OR, or` | field:(value1 OR value2) | The query returns records that match either of the values (case insensitive) | `state:(active OR pending)` |

            **Query Fields**

            | param | description |
            | --- | --- |
            | state | the violation states to filter on |
            | userEmail | the emails of users updating the resource resulting in the violation |
            | username | the usernames of users updating the resource resulting in the violation |
            | integration | the integration to filter on |
            | lastAction | the last action taken on violations to filter on |
            | confidence | one or more likelihoods/confidences |
            | policyUUID | one or more policy IDs |
            | detectionRuleUUID | one or more detection rule IDs |
            | detectorUUID | one or more detector IDs |
            | slack.channelName | the slack channel names to filter on |
            | slack.channelID | the slack channel IDs to filter on |
            | slack.workspace | the slack workspaces to filter on |
            | confluence.parentPageName | the names of the parent pages in confluence to filter on |
            | confluence.spaceName | the names of the spaces in confluence to filter on |
            | gdrive.drive | the drive names in gdrive to filter on |
            | jira.projectName | the jira project names to filter on |
            | jira.ticketNumber | the jira ticket numbers to filter on |
            | salesforce.orgName | the salesforce organization names to filter on |
            | salesforce.object | the salesforce object names to filter on |
            | salesforce.recordID | the salesforce record IDs to filter on |
            | github.authorEmail | the github author emails to filter on |
            | github.branch | the github branches to filter on |
            | github.commit | the github commit ids to filter on |
            | github.org | the github organizations to filter on |
            | github.repository | the github repositories to filter on |
            | github.repositoryOwner | the github repository owners to filter on |
            | teams.teamName | the m365 teams team names to filter on |
            | teams.channelName | the m365 teams channels to filter on |
            | teams.channelType | the m365 teams channel types to filter on |
            | teams.teamSensitivity | the m365 teams sensitivities to filter on |
            | teams.sender | the m365 teams senders to filter on |
            | teams.msgImportance | the m365 teams importance to filter on |
            | teams.msgAttachment | the m365 teams attachment names to filter on |
            | zendesk.ticketStatus | the zendesk ticket status to filter on |
            | zendesk.ticketTitle | the zendesk ticket titles to filter on |
            | zendesk.ticketGroupAssignee | the zendesk ticket assignee groups to filter on |
            | zendesk.currentUserRole | the zendesk ticket current assignee user’s roles to filter on |
            | notion.createdBy | the names of the users creating a resource in notion to filter on |
            | notion.updatedBy | the names of the users editing a resource in notion to filter on |
            | notion.pageTitle | the page names in notion to filter on |
            | notion.workspaceName | the workspace names in notion to filter on |

          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful response
          headers:
            X-Rate-Limit-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next second before being throttled
            X-Quota-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next quota period
            X-Quota-Period-End:
              schema:
                type: string
                format: date-time
                description: When the current quota period expires
          content:
            application/json:
              schema:
                type: object
                properties:
                  violations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Violation'
                  nextPageToken:
                    type: string
                    description: Next page cursor, omitted if end of results reached
        400:
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Authentication failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        429:
          description: Rate Limit Exceeded or Daily Quota Exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                description: Seconds after which to retry the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Nightfall Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  "/violations/{violationId}/findings":
    get:
      summary: Fetch violation findings
      description: Get findings for a specific violation
      parameters:
        - name: violationId
          in: path
          description: The UUID of the violation
          required: true
          schema:
            type: string
            format: uuid
        - name: pageToken
          in: query
          description: Cursor for getting the next page of results
          schema:
            type: string
        - name: limit
          in: query
          description: Number of findings to fetch in one page (max 1000)
          schema:
            type: integer
            format: int32
            maximum: 1000
            default: 1000
      responses:
        200:
          description: Successful response
          headers:
            X-Rate-Limit-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next second before being throttled
            X-Quota-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next quota period
            X-Quota-Period-End:
              schema:
                type: string
                format: date-time
                description: When the current quota period expires
          content:
            application/json:
              schema:
                type: object
                properties:
                  findings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Finding'
                  nextPageToken:
                    type: string
                    description: Next page cursor, omitted if end of results reached
        400:
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Authentication failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        429:
          description: Rate Limit Exceeded or Daily Quota Exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                description: Seconds after which to retry the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Nightfall Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer 
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          description: A status code to uniquely describe this error.
        message:
          type: string
          description: A message associated with the status code.
        description:
          type: string
          description: Additional details to explain what may have occurred. Omitted if empty.
          
    Violation:
      type: object
      properties:
        id:
          type: string
          description: The violation id
        integration:
          $ref: '#/components/schemas/Integration'
          description: The integration name
        createdAt:
          type: integer
          description: Unix timestamp when the violation was created
        updatedAt:
          type: integer
          description: Unix timestamp when the violation was updated
        possibleActions:
          type: array
          items:
            $ref: '#/components/schemas/Action'
          description: Possible actions for the violation
        state:
          $ref: '#/components/schemas/ViolationState'
          description: The current state of the violation
        resourceLink:
          type: string
          description: The link to the resource on the integration
        metadata:
          $ref: '#/components/schemas/Metadata'
          description: Integration specific metadata, based on the integration one field will be populated.
        fileDetails:
          $ref: '#/components/schemas/FileDetails'
          description: If the resource is a file, the details for it
        policyUUIDs:
          type: array
          items:
            type: string
          description: Policies violated
        detectionRuleUUIDs:
          type: array
          items:
            type: string
          description: Detection rules triggered
        detectorUUIDs:
          type: array
          items:
            type: string
          description: Detectors triggered
        userInfo:
          $ref: '#/components/schemas/UserInformation'

    FileDetails:
      type: object
      properties:
        fileName:
          type: string
          description: The name of the file
        mimeType:
          type: string
          description: The file mime type
        permalink:
          type: string
          description: The link to the resource on the integration

    UserInformation:
      type: object
      properties:
        username:
          type: string
          description: Username as on the integration
        userEmail:
          type: string
          description: User email as on the integration, may be empty

    Metadata:
      type: object
      properties:
        slackMetadata:
          $ref: '#/components/schemas/SlackMetadata'
        confluenceMetadata:
          $ref: '#/components/schemas/ConfluenceMetadata'
        gdriveMetadata:
          $ref: '#/components/schemas/GdriveMetadata'
        jiraMetadata:
          $ref: '#/components/schemas/JiraMetadata'
        githubMetadata:
          $ref: '#/components/schemas/GithubMetadata'
        salesforceMetadata:
          $ref: '#/components/schemas/SalesforceMetadata'
        zendeskMetadata:
          $ref: '#/components/schemas/ZendeskMetadata'
        notionMetadata:
          $ref: '#/components/schemas/NotionMetadata'
        browserMetadata:
          $ref: '#/components/schemas/BrowserMetadata'
        m365TeamsMetadata:
          $ref: '#/components/schemas/M365TeamsMetadata'

    SlackMetadata:
      type: object
      properties:
        location:
          type: string
          description: The channel name in case of a message in a channel
        locationType:
          type: string
          description: Type of location
        username:
          type: string
          description: User name
        userID:
          type: string
          description: ID - user
        messagePermalink:
          type: string
          description: Link to message
        locationMembers:
          type: array
          items:
            type: string
          description: Members for the location
        locationMemberCount:
          type: integer
          description: Count of members for the location
        channelID:
          type: string
          description: ID - channel
        workspaceName:
          type: string
          description: Name of workspace

    ConfluenceMetadata:
      type: object
      properties:
        itemName:
          type: string
          description: Name of item
        itemType:
          type: string
          description: Type of item
        isArchived:
          type: boolean
          description: Archived status
        createdAt:
          type: integer
          description: Unix timestamp
        updatedAt:
          type: integer
          description: Unix timestamp
        labels:
          type: array
          items:
            type: string
          description: List of labels
        spaceName:
          type: string
          description: Name of space
        spaceKey:
          type: string
          description: Key of space
        spaceNameLink:
          type: string
          description: Link of space
        parentPageName:
          type: string
          description: Parent page
        authorName:
          type: string
          description: Name of author
        authorEmail:
          type: string
          description: Email of author
        authorNameLink:
          type: string
          description: Link of author name
        permalink:
          type: string
          description: Link to resource
        confluenceID:
          type: string
          description: ID - Confluence internal
        confluenceUserID:
          type: string
          description: ID - Confluence user
        itemVersion:
          type: integer
          description: Version of item
        parentPageID:
          type: string
          description: ID - parent page
        parentVersion:
          type: integer
          description: Version of parent page

    JiraMetadata:
      type: object
      properties:
        projectName:
          type: string
          description: Name of project
        ticketNumber:
          type: string
          description: Ticket number
        projectType:
          type: string
          description: Type of project
        issueID:
          type: string
          description: ID for the issue
        projectLink:
          type: string
          description: Link to project
        ticketLink:
          type: string
          description: Link to ticket
        commentLink:
          type: string
          description: Link to comment
        attachmentLink:
          type: string
          description: Link to attachment

    GdriveMetadata:
      type: object
      properties:
        fileID:
          type: string
          description: ID of file
        fileName:
          type: string
          description: The name of the file
        fileType:
          type: string
          description: Type of file
        fileSize:
          type: string
          description: File size
        fileLink:
          type: string
          description: Link to file
        permissionSetting:
          type: string
          description: Permissions
        sharingExternalUsers:
          type: array
          items:
            type: string
          description: User list shared with - external
        sharingInternalUsers:
          type: array
          items:
            type: string
          description: User list shared with - internal
        canViewersDownload:
          type: boolean
          description: Available for viewers to download
        fileOwner:
          type: string
          description: File owner
        isInTrash:
          type: boolean
          description: In trash
        createdAt:
          type: integer
          description: Unix timestamp, when the file was created
        updatedAt:
          type: integer
          description: Unix timestamp, when the file was updated
        drive:
          type: string
          description: Drive name
        updatedBy:
          type: string
          description: Updated by user

    GithubMetadata:
      type: object
      properties:
        branchName:
          type: string
          description: Branch on which violation occurred
        organization:
          type: string
          description: Name of the organization or username in case of an individual account
        repository:
          type: string
          description: Name of the repository
        authorEmail:
          type: string
          description: Email of the user who pushed the changes to GitHub
        authorUsername:
          type: string
          description: Username of the user who pushed the changes to GitHub
        createdAt:
          type: integer
          description: Unix timestamp
        isRepoPrivate:
          type: boolean
          description: Boolean to check if the repo is private or public
        filePath:
          type: string
          description: Path of the file on which violation occurred
        githubPermalink:
          type: string
          description: Permalink to the version of the file where sensitive content was identified
        repositoryOwner:
          type: string
          description: Owner of the repository
        githubRepoLink:
          type: string
          description: Link to the repository

    SalesforceMetadata:
      type: object
      properties:
        orgName:
          type: string
          description: Name of the Salesforce organization
        recordID:
          type: string
          description: ID of the record
        objectName:
          type: string
          description: Name of the object
        contentType:
          type: string
          description: Attachment or Object
        userID:
          type: string
          description: ID of the user
        userName:
          type: string
          description: Salesforce username of the author
        updatedAt:
          type: integer
          description: Unix timestamp when the object was last updated
        fields:
          type: array
          items:
            type: string
          description: Fields of the Object
        fileType:
          type: string
          description: File Type
        attachmentLink:
          type: string
          description: Link to the attachment
        attachmentName:
          type: string
          description: Name of the attachment
        objectLink:
          type: string
          description: Link to the object

    ZendeskMetadata:
      type: object
      properties:
        ticketStatus:
          type: string
          description: Status of the ticket
        ticketTitle:
          type: string
          description: Title of the ticket
        ticketRequestor:
          type: string
          description: Ticket requested by
        ticketGroupAssignee:
          type: string
          description: Group the ticket is assigned to
        ticketAgentAssignee:
          type: string
          description: Agent the ticket is assigned to
        currentUserRole:
          type: string
          description: User role
        ticketID:
          type: integer
          description: ID of the ticket
        ticketFollowers:
          type: array
          items:
            type: string
          description: Followers of the ticket
        ticketTags:
          type: string
          description: Tags for the ticket
        createdAt:
          type: integer
          description: Unix timestamp
        UpdatedAt:
          type: integer
          description: Unix timestamp
        location:
          type: string
          description: Location
        subLocation:
          type: string
          description: Sub-location
        ticketCommentID:
          type: integer
          description: ID - ticket comment
        ticketGroupID:
          type: integer
          description: ID - ticket group
        ticketGroupLink:
          type: string
          description: Link to the ticket group
        ticketAgentID:
          type: integer
          description: ID - ticket agent
        ticketAgentLink:
          type: string
          description: Link - ticket agent
        ticketEvent:
          type: string
          description: Ticket event
        userRole:
          type: string
          description: Role of the user
        attachmentName:
          type: string
          description: Name of the attachment
        attachmentLink:
          type: string
          description: Link for the attachment

    NotionMetadata:
      type: object
      properties:
        createdBy:
          type: string
          description: Page creator
        updatedBy:
          type: string
          description: Page update by
        workspaceName:
          type: string
          description: Workspace name
        workspaceLink:
          type: string
          description: Link to workspace
        pageID:
          type: string
          description: ID of the page
        pageTitle:
          type: string
          description: Title of the page
        createdAt:
          type: integer
          description: Unix timestamp
        updatedAt:
          type: integer
          description: Unix timestamp
        privatePageLink:
          type: string
          description: Private page link
        publicPageLink:
          type: string
          description: Public page link
        sharedExternally:
          type: boolean
          description: Externally shared state
        attachmentID:
          type: string
          description: ID of the attachment

    BrowserMetadata:
      type: object
      properties:
        location:
          type: string
          description: Page URL where the extension is launched
        subLocation:
          type: string
          description: Specific location on the page
        browserName:
          type: string
          description: Browser type
        userComment:
          type: string
          description: Remediation comment from the user

    M365TeamsMetadata:
      type: object
      properties:
        teamName:
          type: string
          description: Name of the team containing the channel where the message was sent
        tenantID:
          type: string
          description: ID of the tenant
        tenantDomain:
          type: string
          description: Domain name of the tenant
        teamID:
          type: string
          description: ID of the team containing the channel where the message was sent
        teamVisibility:
          type: string
          description: Visibility of the team containing the channel where the message was sent
        teamWebURL:
          type: string
          description: Web URL of the team containing the channel where the message was sent
        channelID:
          type: string
          description: ID of the channel where the message was sent
        channelName:
          type: string
          description: Name of the channel where the message was sent
        channelType:
          type: string
          description: Type of the channel where the message was sent
        channelWebURL:
          type: string
          description: Web URL of the channel where the message was sent
        messageID:
          type: string
          description: ID of the message
        createdAt:
          type: integer
          description: Unix timestamp
        updatedAt:
          type: integer
          description: Unix timestamp
        chatMessageSender:
          type: string
          description: Sender of the chat message
        userID:
          type: string
          description: ID of the user who sent the message
        userPrincipalName:
          type: string
          description: Principal name of the user who sent the message
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/M365TeamsAttachment'
          description: Attachment details
        chatMessageImportance:
          type: string
          description: Importance of the sent message

    M365TeamsAttachment:
      type: object
      properties:
        attachmentID:
          type: string
          description: ID of the attachment present in the message
        attachmentName:
          type: string
          description: Name of the attachment present in the message
        attachmentURL:
          type: string
          description: URL of the attachment present in the message
    
    Finding:
      type: object
      properties:
        id:
          type: string
          description: The id of the findings
        detectorUUID:
          type: string
          description: The id of the detector that was triggered
        subDetectorUUID:
          type: string
          description: The sub detector id in case the detector uses a combination of detectors
        confidence:
          type: string
          description: The likelihood of the detection
        redactedSensitiveText:
          type: string
          description: The redacted sensitive data
        redactedContext:
          $ref: '#/components/schemas/FindingContext'
        redactedLocation:
          $ref: '#/components/schemas/FindingLocation'
        metadata:
          $ref: '#/components/schemas/FindingMetadata'
        subLocation:
          type: string
          description: Metadata/sub-location of the finding in the resource. For example - `title` or `description` for a Jira ticket.
        annotationUUID:
          type: string
          description: The annotation id, if present

    FindingContext:
      type: object
      properties:
        beforeContext:
          type: string
          description: Data preceding the sensitive data
        afterContext:
          type: string
          description: Data after the sensitive data

    FindingMetadata:
      type: object
      properties:
        apiKeyMetaData:
          $ref: '#/components/schemas/APIKeyMetadata'

    APIKeyMetadata:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/KeyStatus'
          description: Key status
        kind:
          $ref: '#/components/schemas/KeyKind'
          description: Key type
        description:
          type: string
          description: Additional details about the key

    FindingLocation:
      type: object
      properties:
        byteRange:
          $ref: '#/components/schemas/Range'
        lineRange:
          $ref: '#/components/schemas/Range'

    Range:
      type: object
      properties:
        start:
          type: integer
          description: Start point for a range
        end:
          type: integer
          description: End point for a range

    ViolationState:
      type: string
      enum:
        - ACTIVE
        - PENDING
        - RESOLVED
        - EXPIRED
    Integration:
      type: string
      enum:
        - SLACK
        - GDRIVE
        - JIRA
        - CONFLUENCE
        - SALESFORCE
        - ZENDESK
        - BROWSER
        - NOTION
        - GITHUB
        - M365_TEAMS

    Action:
      type: string
      enum:
        - ACKNOWLEDGE
        - REDACT
        - QUARANTINE
        - ALLOW_QUARANTINE
        - REJECT_QUARANTINE
        - REMOVE_INTERNAL_USERS
        - REMOVE_EXTERNAL_USERS
        - DOMAIN_WIDE_LINK
        - RESTRICTED_LINK
        - DELETE
        - IGNORE
        - NOTIFY_SLACK
        - NOTIFY_EMAIL
        - UNACKNOWLEDGE
        - DISABLE_DOWNLOAD
        - CREATE_JIRA_ISSUE
        - MARK_AS_PRIVATE
        - DELETE_ATTACHMENT
        - MANUAL_UNDO
        - RESOLVE
        - NOTIFY_TEAMS
        - NOTIFY_GITHUB

    Likelihood:
      type: string
      enum:
        - POSSIBLE
        - LIKELY
        - VERY_LIKELY

    ViolationSearchSortKey:
      type: string
      enum:
        - TIME_ASC
        - TIME_DESC

    KeyStatus:
      type: string
      enum:
        - UNVERIFIED
        - ACTIVE
        - EXPIRED
        - SIGNATURE_VERIFIED
        - INVALID_SIGNATURE

    KeyKind:
      type: string
      enum:
        - UNSPECIFIED
        - NIGHTFALL
        - OKTA
        - STRIPE
        - AWS
        - SLACK
        - SQUARE
        - CONFLUENT
        - AZURE
        - PLAID
        - GITHUB
        - TWILIO
        - GITLAB
        - GOOGLE_API
        - COINBASE
        - ELASTICSEARCH
        - SPLUNK
        - ZAPIER
        - SALESFORCE
        - DATADOG
        - TWITTER
        - FACEBOOK
        - JIRA
        - PAYPAL
        - CONFLUENCE
        - SLACK_WEBHOOK
        - AMAZON_MWS
        - JWT
        - GCP
        - RAPID_API
        - SNYK
        - NOTION
        - SENDGRID
        - POSTMARK
        - POSTMAN