---
openapi: 3.0.3
info:
  title: Nightfall Workflow Applications API
  description: API to access application specific information
  version: 1.0.0
servers:
  - url: https://api.nightfall.ai/apps/v1
security:
  - bearerAuth: []
paths:
  "/github/repositories":
    get:
      summary: Fetch Github repositories
      description: Returns a list of repositories Nightfall has access to.
      parameters:
        - name: limit
          in: query
          description: The maximum number of records to be returned in the response
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: pageToken
          in: query
          description: Cursor for getting the next page of results
          required: false
          schema:
            type: string
      responses:
        200:
          description: Successful response
          headers:
            X-Rate-Limit-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next second before being throttled
            X-Quota-Remaining:
              schema:
                type: integer
                description: How many remaining requests you can make within the next quota period
            X-Quota-Period-End:
              schema:
                type: string
                format: date-time
                description: When the current quota period expires
          content:
            application/json:
              schema:
                type: object
                properties:
                  repositories:
                    type: array
                    items:
                      $ref: '#/components/schemas/GithubRepository'
                    description: the list of repositories being scanned
                  nextPageToken:
                    type: string
                    description: Next page cursor, omitted if end of results reached
        400:
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Authentication failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        429:
          description: Rate Limit Exceeded or Daily Quota Exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                description: Seconds after which to retry the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: Internal Nightfall Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer 
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          description: A status code to uniquely describe this error.
        message:
          type: string
          description: A message associated with the status code.
        description:
          type: string
          description: Additional details to explain what may have occurred. Omitted if empty.
    GithubRepository:
      type: object
      properties:
        repositoryID:
          type: integer
          format: int64
          description: The GitHub repository ID
        repositoryName:
          type: string
          description: The name of the repository
        isRepoPrivate:
          type: boolean
          description: Whether the repo is private
        repoLink:
          type: string
          description: The URL of the repository
        scannedAt:
          type: integer
          format: int64
          description: Unix timestamp, the last scan time of any file/commit in the repository. Omitted if not scanned yet.
        isMonitored:
          type: boolean
          description: Whether the repository is covered by a policy
        githubUsername:
          type: string
          description: GitHub username in case of a personal account and organization name in case of an organization